    /*reset*/
*{font-family: "Roboto Slab", serif;

}
    /*header*/
.top{
display: flex;
flex-flow: row wrap;
justify-content: center;
justify-content: space-evenly;
align-items: center;
position: sticky ;
top: 0;
z-index: 100;
background-color: white;
}
.logo{
width: 300px;
margin-right: 70px;
}
.logo img{
width: 100%;
}
.buscador{
display: flex;
margin-right: 20px;
}
.menu-list{
margin-left: 30px;
display: flex;
flex-flow: column;
justify-content: end;
align-items: center;
}
.menu-list li{
list-style-type: none;
margin: 3px;
}
.menu-list a{
color: black;
text-decoration: none;
font-weight: 600;
}
    /*main*/
.prendas{
width: 300px;
}
@media only screen and (max-width:500px){
.prendas{
width: 200px;
}
}
@media only screen and (min-width:501px) and (max-width:960px){
    .prendas{
    width: 250px;
    }
}
.prendas img{
width: 100%;
}
.prendas a{
color:black;
text-decoration: none;
font-size: medium;
}
.org{
display: flex;
flex-flow: row wrap;
justify-content: center;
justify-content: space-evenly;
margin: 50px;
}
    /*footer*/
.info {
display: flex;
flex-flow: row;
justify-content: space-evenly;
}
.info div{
display: flex;
flex-flow: column;
align-items: center;
}
.info div ul{
margin-top: 2px;
}
.info h5{
text-decoration: underline;
font-weight: 600;
margin-bottom: 10px;
}
.info li{
list-style-type: disc;
}
.info li a{
color: black;
text-decoration: none;
font-weight: 250;
font-size: small;
}
/*prendas*/
.product{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
}
.logo-shop{
    width: 300px; 
}
.logo-shop img{
width: 100%;
}
.shop{
display: flex;
flex-flow: column;
}
.shop form{
display: flex;
align-items: center;
flex-flow: column;
margin: 20px;

}
.shop button{
color:rgb(247, 247, 247);
background-color: black;
}
.card{
margin-top: 3rem;
margin-left: 13rem;
}
.card-title{
margin-top: 20px;
}
.card-text{
margin-top: 20px;
}
.dropdown a{
margin-top: 30px;
}
.comprar button{
margin-top: 30px;
}
/*iniciar sesion*/
.datos{
display: flex;
flex-flow: column;
align-items: center;
margin-top: 50px;
}
.datos nav{
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
}
.datos nav form{
margin: 10px;
}
.datos nav a{
color: black;
text-decoration: none;
font-size: small;
margin: 10px 0;
}
.datos nav button{
color: white;
background-color: black;
width: 100px;
font-size: small;
}
.datos div{
display: flex;
flex-flow: column;
}
.info{
display: flex;
justify-content: center;
align-items: center;
}
.info button{
color: white;
background-color: black;
width: 100px;
font-size: small;
}
/*carousel*/
.custom-carousel{
margin: 30px;
}
.custom-carousel {
max-width: 100%;
margin: 0 auto; 
border-radius: 10px; 
overflow: hidden; 
}
.custom-carousel .carousel-inner img {
width: 100%; 
height: auto; 
}