    /*reset*/
*{font-family: "Roboto Slab", serif;
}
 /*header*/
.custom-carousel{
margin: 30px;
}
.custom-carousel {
max-width: 100%;
margin: 0 auto; 
border-radius: 10px; 
overflow: hidden; 
}
.custom-carousel .carousel-inner img {
width: 100%; 
height: auto; 
}
.carousel-inner {
  width: 100%;
  max-height: 500px; /* Ajusta según el tamaño que desees para el carrusel */
  overflow: hidden; /* Oculta cualquier contenido desbordado */
}
/*main*/
.prendas{
width: 300px;
}
@media only screen and (max-width:500px){
.prendas{
width: 200px;
}
}
@media only screen and (min-width:501px) and (max-width:960px){
.prendas{
width: 250px;
}
}
.prendas img{
width: 100%;
}
.prendas a{
color:#000000;
text-decoration: none;
font-size: medium;
}
.org{
display: flex;
flex-flow: row wrap;
justify-content: center;
justify-content: space-evenly;
margin: 50px;
}
    /*footer*/
.info {
display: flex;
flex-flow: row;
justify-content: space-around;
}
.info div{
display: flex;
flex-flow: column;
align-items: center;
margin: 40px;
}
@media only screen and (max-width:500px) {
.info div{
margin: 20px;
}   
}
@media only screen and (min-width:501px)and(max-width:960px){
.info div{
margin: 30px;
}
}
.info div ul{
margin-top: 2px;
}
.info h6{
text-decoration: none;
font-weight: 400;
margin-bottom: 10px;
}
.info li{
list-style-type: disc;
}
.info li a{
color: black;
text-decoration: none;
font-weight: 250;
font-size: small;
}
/*prendas*/
.card-prendas{
display: flex;
align-items: center;
justify-content: center;
margin-top: 3rem;
}
.card-title{
margin-top: 20px;
}
.card-text{
margin-top: 20px;
}
.dropdown a{
margin-top: 30px;
}
.comprar button{
margin-top: 30px;
}
@media only screen and (max-width:500px){
    .card{
    width: 300px;
    }
    .card-title{
        font-size: large;
    }
    .card-text{
        font-size: small;
    }
    .dropdown a {
        font-size: small;
    }
}

@media only screen and (min-width:501px) and (max-width:960px){
    .card{
        width: 800px;
        }
        .card-title{
            font-size: x-large;
        }
        .card-text{
            font-size: medium;
        }
        .dropdown a {
            font-size: medium;
        }
}   
/*iniciar sesion*/
.datos{
display: flex;
flex-flow: column;
align-items: center;
margin-top: 50px;
}
.datos nav{
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
}
.datos nav form{
margin: 10px;
}
.datos nav a{
color: black;
text-decoration: none;
font-size: small;
margin: 10px 0;
}
.datos div{
display: flex;
flex-flow: column;
}
.datos nav button{
width: 150px;
font-size: small;
}
.cuenta{
display: flex;
justify-content: center;
align-items: center;
}
.cuenta h6{
font-size: smaller;
font-weight: 400;
margin-top: 10px;
}
.cuenta button{
color: #ffffff;
background-color: black;
width: 100px;
font-size: small;
}
.registro button{
width: 100px;
}
/*ayuda*/
.ayuda{
margin-top: 30px;
margin-bottom: 30px;
}
.ayuda h4{
text-decoration: none;
}
.contact h4{
text-decoration: none;
}
.accordion-body{
font-weight: 200;
}
.mail{
    margin-top: 10px;
}
.form-floating{
    margin-top: 10px;
}
.contact h6{
    font-weight: 500; 
}

@media only screen and (max-width: 500px) {
    .ayuda h4, .contact h4 {
      font-size: 1.2rem; 
    }
    .contact h6 {
      font-size: 1rem; 
    }
    .accordion-button {
      font-size: 0.9rem; 
    }
    .form-control {
      font-size: 0.9rem; 
      padding: 8px; 
    }
    textarea.form-control {
      font-size: 0.9rem; 
    }
  }
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    .ayuda h4, .contact h4 {
      font-size: 1.5rem; 
    }
  
    .contact h6 {
      font-size: 1.2rem; 
    }
  
    .accordion-button {
      font-size: 1rem;
    }
    .form-control {
      font-size: 1rem; 
      padding: 10px; 
    }
    textarea.form-control {
      font-size: 1rem;
    }
  }
/*carrito*/
.carrito{
margin-top: 50px;
}
/*animaciones*/
.prendas {
    transition: transform 0.3s ease-in-out;
}
.prendas:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px ;
}
.nav-item{
    transition: transform 0.3s ease-in-out;
}   
.nav-item:hover{
    transform: scale(1.1);
}

