//variables//
//tipografia//
$title-primary: "Roboto Slab", serif;
//colores//
$color-principal: #000000;
$color-bg: #ffffff;
//margins//
$margin-sm: 10px; 
$margin-md: 20px;
$margin-l: 30px;
$margin-xl: 50px;
//flexbox//
$display:flex;
$align:center;
$justify:center;