.card{
    margin-top: 3rem;
    margin-left: 13rem;
}
.card-title{
    margin-top: $margin-md;
}
.card-text{
    margin-top: $margin-md;
}
.dropdown {
    .a{
      margin-top: $margin-l;  
    }  
}
.comprar{
    .button{
      margin-top: $margin-l;  
    }
}